*{
    margin: 0;
    padding: 0;
}
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    margin: 0;
    background-color: teal;
    font-family:“苹方-简”,“黑体-简”;
    font-size: 30px;
    color: whitesmoke;
}
a{
    background-color: transparent;
}
img{
    border-style: none;
}
h1{
    font-size: 68px;
    text-align: center;
    color: violet;
}